.advert__wrap {
    width: 1280px;
    margin: 0 auto;
}

.advert__title {
    font-family: var(--font-inter-sanserif);
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    color: #000000;
    padding-top: 100px;
    width: 600px;
    position: relative;
}

.advert__frame {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    margin-bottom: 20px;
    align-items: flex-start;
    
    // border: 2px solid red;
}

.advert__info {
    font-family: var(--font-inter-sanserif);
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.8);
    width: 600px;
}

.advert__tex {
    width: 410px;
    height: 107px;
    border: 3px solid rgba(250, 0, 44, 0.15);
    border-radius: 10px;
    padding: 16px 30px;
}

.advert__tex-info {
    font-family: var(--font-inter-sanserif);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    color: #000000;
    width: 350px;  
}

.advert__prim {
    font-family: var(--font-inter-sanserif);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    color: var(--main-color-red);
}

.advert__content {
    display: flex;
    gap: 24px;
    margin-bottom: 100px;
    position: relative;
    z-index: 1;
}

.advert__img1 {
    z-index: 1;
}
.advert__buttom {
    display: flex;
    margin-bottom: 45px;
    padding: 14px 40px 14px 40px;
    box-sizing: border-box;
    border: none;
    width: 235px;
    height: 56px;
    border-radius: 8px;
    background-color: var(--main-color-red);
    color: var(--main-color-white);
    font-size: 20px;
    font-family: var(--font-inter-sanserif);
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
}

.advert__content::before {
    background-image: url("../images/strelka-right.png");
    content: "";
    background-repeat: no-repeat;
    width: 63px;
    height: 63px;
    position: absolute;
    right: -27px;
    top: 122px;
    z-index: 2;
}

.advert__title::before {
    background-image: url("../images/strelka-right.png");
    content: "";
    background-repeat: no-repeat;
    width: 63px;
    height: 63px;
    position: absolute;
    right: 565px;
    top: 580px;
    transform: rotate(-180deg);
    z-index: 2;
}
.advert__buttom:hover {
  background-color: #c73713;
}