.advice__wrap {
  max-width: 1280px;
  margin: 0 auto;
}

.advice__content {
  margin: 95px 0 100px 0;
  padding-left: 60px;
  display: flex;
  justify-content: space-between;
}

.advice__text {
  width: 586px;
  position: relative;
}

.advice__title {
  font-family: var(--font-inter-sanserif);;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  color: #000000;
}

.advice__prim {
  color: #F50E30;
}

.advice__info {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  color: #000000;
  padding-top: 20px;
  width: 450px;
  position: relative;
}

.advice__img {
  width: 612px;
  object-fit: cover;
  object-position: center;
}
.advice__buttom {
  display: flex;
  margin: 38px 0 0 4px;
  padding: 14px 40px 14px 40px;
  box-sizing: border-box;
  border: none;
  width: 235px;
  height: 56px;
  border-radius: 8px;
  background-color: var(--main-color-red);
  color: var(--main-color-white);
  font-size: 20px;
  font-family: var(--font-inter-sanserif);
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
}
.advice__buttom:hover {
  background-color: #c73713;
}