.chime {
   max-width: 1920px;
   background-image:url("../images/gora.png");
   padding-top: 127px;
   padding-bottom: 100px;
}


.chime__wrap {
    width: 1280px;
    padding-left: 19px;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    gap: 45px;

}

.chime__case {
   max-width: 459px;
   padding: 40px 32px 0 32px;
   background: white;
   border-radius: 10px;
   
}

.chime__case-title {
  font-family: var(--font-inter-sanserif);
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
}

.chime__case-text {
   font-family: var(--font-inter-sanserif);
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   color: rgba(0, 0, 0, 0.8);
   padding-top: 12px;
   margin-bottom: 20px;
}

.chime__input {
    border: 1px solid #000000;;
    border-radius: 8px;
    padding: 17px 20px;
    width: 100%;
    margin-bottom: 16px;
    font-size: 20px;
    font-family: 'Inter';
    font-weight: 400;
    color: #CCCCCC;
    // background: #FFFFFF;

}

.chime__button {
  box-sizing: border-box;
  border: none;
  width: 100%;
  border-radius: 8px;
  background-color: var(--main-color-red);
  color: var(--main-color-white);
  font-size: 20px;
  font-family: "inter", sans-serif;
  font-weight: 700;
  padding: 18px 54px;
  margin-bottom: 8px;
}

.chime__button:hover {
  background-color: #c73713;
}

.chime__checkbox {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    cursor: pointer;
    position: relative;
}

.chime__input-checkbox {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.chime__checkbox:before {
    content: '';
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #000000;
    border-radius: 3px;
    transition: all 0.3s ease;
    margin: 6px 0;
}

.chime__checkbox:after {
    content: '';
    position: absolute;
    left: 7px;
    top: 12px;
    width: 6px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
    transition: all 0.3s ease;
}

.chime__input-checkbox:checked + .chime__checkbox:before {
    background: #000000;
    border-color: #000000;
}

.chime__input-checkbox:checked + .chime__checkbox:after {
    opacity: 1;
}

.chime__checkbox-text {
  font-family: var(--font-inter-sanserif);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.5);
  width: 340px;
}

.chime__mesange {
   font-family: var(--font-inter-sanserif);
   font-style: normal;
   font-weight: 500;
   font-size: 20px;
   line-height: 24px;
   color: #000000;
   padding-top: 24px;

}

.chime__social {
    padding-top: 16px;
    display: flex;
    gap:12px;
}

.chime__social-border {
    background: #FFFFFF;
    border-radius: 20px;
    border: 2px solid red;
    margin-bottom: 50px;
    padding: 9px 16px 9px 15px;
    width: 137px;
}

.chime__social-icon {
   vertical-align: middle;
   margin-bottom: 5px;
}

.chime__social-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}

.chime__services {
    width: 100%;
    padding: 40px 0 0 32px;
    background: white;
    border-radius: 10px;
}

.chime__services-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    color: #000000;
    width: 620px;
}

.chime__info {
    padding-top: 22px;
    max-width: 545px;
}

.chime__abinfo {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
    padding-left: 52px;
    padding-top: 24px;
    position: relative;
}

.chime__abinfo::before {
  position: absolute;
  left: 0;
  top: 30px;
//   background-color: var(--main-color-red);
  content: "";
  width: 36px;
  height: 36px;
  border-radius: 26px;
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 36px 36px;
  cursor: pointer;
}

.chime__abinfo-info-1::before {
 background-image: url(../images/galochka.png);
}