.shop {
  background-color: #F4F6F8;
  position: relative;
  padding-bottom: 128px;
}

.shop__wrap {
  margin: 0 auto;
  width: 1280px;
  padding-top: 85px;
  position: relative;
}

.shop__title {
  font-family: var(--font-inter-sanserif);
  font-style: normal;
  font-weight: 800;
  font-size: 44px;
  color: #000000;
  margin-bottom: 20px;
  padding-top: 20px;
  position: relative;
}

.shop__text {
  font-family: var(--font-inter-sanserif);
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #000000;
  position: relative;
}

.shop__content-card {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  gap: 24px;
  position: relative;
  /* overflow: auto; */
}

.shop__card {
  display: flex;
  width: 411px;
  flex-wrap: wrap;
  margin-top: 15px;
  background: var(--main-color-white);
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  padding: 20px 24px 20px 24px;
}

.shop__img {
  width: 363px;
  margin: 5px auto;
}

.shop__avto-title {
  font-family: var(--font-inter-sanserif);
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  text-align: right;
  color: #000000;
  padding-top: 27px;
}

.shop__text-price {
  width: 100%;
}

.shop__strit-card-txt {
  font-family: var(--font-inter-sanserif);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  align-items: flex-end;
  color: rgba(0, 0, 0, 0.5);
  order: 0;
  white-space: nowrap;
}

.shop__strit-card-mean {
  font-family: var(--font-inter-sanserif);
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  text-align: right;
  color: #000000;
  padding-top: 28px;
  order: 2;
  white-space: nowrap;
}

.shop__strit {
  display: flex;
  justify-content: space-between;
  margin-top: -10px;
}

.shop__strit::before {
  display: block;
  content: "";
  width: 202px;
  border-bottom: 2px dashed #c1c1c1;
  order: 1;
  flex-grow: 0;
}

.shop__price-old {
  justify-content: space-between;
  font-family: var(--font-inter-sanserif);
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}

.shop__price-text-prim {
  font-family: var(--font-inter-sanserif);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  width: 173px;
}

.shop__offer {
  padding-top: 8px;
}

.shop__price {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
}

.shop__price-now-price {
  font-family: var(--font-inter-sanserif);
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  color: var(--main-color-red);
}

.shop__button {
  box-sizing: border-box;
  border: none;
  width: 363px;
  height: 56px;
  border-radius: 8px;
  background-color: var(--main-color-red);
  color: var(--main-color-white);
  font-size: 24px;
  font-family: var(--font-inter-sanserif);
  font-weight: 700;
  padding: 14px 0px 14px 90px;
  margin: 12px auto;
}

.shop__button:hover {
  background-color: #c73713;
}

.shop__wrap::before {
  background-image: url("../images/strelka-right.png");
  content: "";
  background-repeat: no-repeat;
  width: 63px;
  height: 63px;
  position: absolute;
  right: -55px;
  top: 575px;
  z-index: 3;
  cursor: pointer;
}

.shop::before {
  background-image: url("../images/strelka-right.png");
  content: "";
  background-repeat: no-repeat;
  width: 63px;
  height: 63px;
  position: absolute;
  right: 1300px;
  top: 575px;
  transform: rotate(-180deg);
  z-index: 3;
  cursor: pointer;
}

.shop__title::before {
  background-image: url("../images/polosa-red.png");
  content: "";
  background-repeat: no-repeat;
  width: 100px;
  height: 4px;
  position: absolute;
  right: 696px;
  top: 905px;
}

.shop__text::before {
  background-image: url("../images/polosa-wite.png");
  content: "";
  background-repeat: no-repeat;
  width: 100px;
  height: 4px;
  position: absolute;
  right: -27px;
  top: 815px;
}

.shop__content-card::before {
  background-image: url("../images/polosa-wite.png");
  content: "";
  background-repeat: no-repeat;
  width: 100px;
  height: 4px;
  position: absolute;
  right: 480px;
  top: 767px;
}